[Unit]
Description=Start of OMS Card Reader

[Service]
Type=forking
ExecStart= /usr/bin/python /usr/bin/omsserv.py 
KillMode=process

[Install]
WantedBy=multi-user.target
