[Unit]
Description=Start of OMS Card Reader

[Service]
Type=forking
ExecStart= /usr/bin/sh /usr/bin/omsrun.sh
KillMode=process

[Install]
WantedBy=multi-user.target
